jupyterlab>=3.2.8
numpy>=1.22.1
pandas>=1.3.5
scipy>=1.7.3
scikit-learn>=1.0.2
fast-ml>=3.68
mlxtend>=0.19.0
nltk>=3.6.7
tqdm>=4.62.3 
matplotlib>=3.5.1
seaborn>=0.11.2
wordcloud>=1.8.1
celluloid>=0.2.0 
jax[cpu]>=0.2.27 
git+git://github.com/mariolpantunes/uts@main#egg=uts
git+git://github.com/mariolpantunes/knee@main#egg=knee
git+git://github.com/mariolpantunes/optimization@main#egg=optimization
